# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-results

# production
/build

# playwright artifacts
/playwright-report
/test-results

# migration/planning artifacts
/.migration

# misc
.DS_Store
.env*
.migration

npm-debug.log*
yarn-debug.log*
yarn-error.log*
